body {
    text-align: center;
}

.genre-select-wrapper {
    margin-top: 30px;
}
.genre-label, .genre-select {
    display: inline-block;
    font-size: 42px;
    line-height: 42px;
}
.genre-label {
    font-family: 'CodeProDemoRegular';
}
.genre-select {
    position: relative;
    padding: 2px 33px 0px 8px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 8px;

    cursor: pointer;
    font-family: 'CodeProLightDemoRegular';

    background-image: url("arrow-down.png");
    background-size: auto 16px;
    background-position: right 8px center;
    background-repeat: no-repeat;
}
.genre-select .dropdown {
    list-style: none;
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 100%;

    /* Set to same width as button */
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    background-color: #D3D3D3;
    margin-top: 8px;

    display: none;
}
.genre-select .dropdown li {
    display: block;
    padding: 8px 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.genre-select .dropdown li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.genre-select .dropdown li:last-child {
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.genre-select .dropdown li:hover {
    background-color: white;
}
.genre-select.active .dropdown {
    display: block;
}
.genre-select.active:after {
    background-image: url("arrow-up.png");  
}

.country{
    fill: transparent;
    stroke: #999999;
    stroke-width: 2px;
}

.state.active{
    fill: #aeeeee;
}

text {
    text-align: center;
    font-family: Tahoma;
    font-size: small;
}

.band{
    fill: lightgrey;
    opacity: .7;
}

#tooltip {
    position: absolute;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    text-align: center;
    font-family: Tahoma;
    font-size: small;
}


