svg{
    /*background: #eeeeee;*/
}

.country{
    fill: #999999;
    stroke: white;
}

.state.active{
    fill: #aeeeee;
}

text {
    text-align: center;
    font-family: Tahoma;
    font-size: small;
}

.band{
    fill: lightgrey;
    opacity: .7;
}

#tooltip {
    position: absolute;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    text-align: center;
    font-family: Tahoma;
    font-size: small;
}


